        <div class="banner_section pl-4">
          <div class="container-fluid">
            <section class="slide-wrapper">
              <div class="container-fluid">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicadores -->
                  <ol class="carousel-indicators">
                    <li
                      data-target="#myCarousel"
                      data-slide-to="0"
                      class="active"
                    ></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                  </ol>
  
                  <!-- Contenedor de los slides -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <div class="col-sm-7">
                          <div class="banner_taital">
                            <h1 class="mens_text">
                              <strong>iPhone 16</strong>
                            </h1>
                            <p class="lorem_text">
                              El último modelo de iPhone con tecnología avanzada y
                              diseño elegante.
                            </p>
                            <button class="buy_bt">Comprar Ahora</button>
                            <button class="more_bt">Ver Más</button>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="phone_img">
                            <img src="images/iphone16.png" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-sm-7">
                          <div class="banner_taital">
                            <h1 class="mens_text">
                              <strong>Samsung Galaxy S21</strong>
                            </h1>
                            <p class="lorem_text">
                              Potente rendimiento y cámara de alta resolución para
                              capturar cada momento.
                            </p>
                            <button class="buy_bt">Comprar Ahora</button>
                            <button class="more_bt">Ver Más</button>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="phone_img">
                            <img src="images/SamsungS21.png" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-sm-7">
                          <div class="banner_taital">
                            <h1 class="mens_text">
                              <strong>Huawei P50</strong>
                            </h1>
                            <p class="lorem_text">
                              Innovación y tecnología de punta en un solo
                              dispositivo.
                            </p>
                            <button class="buy_bt">Comprar Ahora</button>
                            <button class="more_bt">Ver Más</button>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="phone_img">
                            <img src="images/HuaweiP50Banner.png" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-sm-7">
                          <div class="banner_taital">
                            <h1 class="mens_text">
                              <strong>Xiaomi Mi 11</strong>
                            </h1>
                            <p class="lorem_text">
                              Rendimiento excepcional y diseño moderno a un precio
                              accesible.
                            </p>
                            <button class="buy_bt">Comprar Ahora</button>
                            <button class="more_bt">Ver Más</button>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="phone_img">
                            <img src="images/Mi11.png" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>