<div class="section_footer">
    <div>
      <div class="container">
        <div class="mail_section">
          <div class="row">
            <div class="col-sm-6 col-lg-2">
              <div class="footer-logo">
                <a href="#"
                  ><img src="images/logoalfa.png"
                /></a>
              </div>
            </div>
            <div class="col-sm-6 col-lg-2">
              <div class="footer-logo">
                <img src="images/phone-icon.png" /><span class="map_text"
                  >(71) 1234567890</span
                >
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="footer-logo">
                <img src="images/email-icon.png" /><span class="map_text"
                  >Demo@gmail.com</span
                >
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="social_icon">
                <ul>
                  <li>
                    <a href="#"><img src="images/fb-icon.png" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="images/twitter-icon.png" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="images/in-icon.png" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="images/google-icon.png" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
        <div class="footer_section_2">
          <div class="row">
            <div class="col-sm-4 col-lg-2">
              <p class="dummy_text">
                Ipsum dolor sit amet, consectetur ipsum dolor sit amet,
                consectetur ipsum dolor sit amet.
              </p>
            </div>
            <div class="col-sm-4 col-lg-2">
              <h2 class="shop_text">Dirección</h2>
              <div class="image-icon">
                <img src="images/map-icon.png" /><span class="pet_text"
                  >No 40 Baria Sreet 15/2 NewYork City, NY, Estados
                  Unidos.</span
                >
              </div>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-3">
              <h2 class="shop_text">Nuestra Empresa</h2>
              <div class="delivery_text">
                <ul>
                  <li>Entrega</li>
                  <li>Aviso Legal</li>
                  <li>Sobre Nosotros</li>
                  <li>Pago Seguro</li>
                  <li>Contáctanos</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <h2 class="adderess_text">Productos</h2>
              <div class="delivery_text">
                <ul>
                  <li>Precios Bajos</li>
                  <li>Nuevos Productos</li>
                  <li>Mejores Ventas</li>
                  <li>Contáctanos</li>
                  <li>Mapa del Sitio</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-2">
              <h2 class="adderess_text">Boletín</h2>
              <div class="form-group">
                <input
                  type="text"
                  class="enter_email"
                  placeholder="Ingresa tu correo"
                  name="Email"
                />
              </div>
              <button class="subscribr_bt">Suscribirse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>