<div style="background-color: black; padding: 10px 0;">
  <div class="container">
    <div class="row align-items-center">
      <!-- Logo -->
      <div class="col-sm-3 d-flex justify-content-center">
        <a href="#"><img src="images/logoalfa.png" alt="Logo Alfa" class="img-fluid"></a>
      </div>
      <!-- Menú de navegación -->
      <div class="col-sm-9">
        <nav class="navbar navbar-expand-sm navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav w-100 justify-content-between">
              <a class="nav-item nav-link" href="index.html">Inicio</a>
              <a class="nav-item nav-link" href="phones.html">Celulares</a>
              <a class="nav-item nav-link" href="accessories.html">Accesorios</a>
              <a class="nav-item nav-link" href="contact.html">Contacto</a>
              <a class="nav-item nav-link last" href="cart.html"><img src="/images/cart.svg" alt="Carrito" style="filter: invert(1); max-height: 30px;"><span class="cartCont">3</span></a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
