<!-- Productos inicio -->
<div class="layout_padding gallery_section">
  <div class="container">
    <h1 class="new_text"><strong>Nuevos Productos</strong></h1>
    <p class="consectetur_text">
      Descubre los últimos lanzamientos en celulares, fundas y accesorios.
      Innovación y tecnología a tu alcance.
    </p>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="best_phone">
        <img class="phone-img" src="../images/HuaweiP50.png" />
        <div class="phone_data">
            <h2 class="phone_title">Huawei P50</h2>
            <span class="phone_price">$ <span style="color: #7ad01e">300000</span></span>
            <p class="phone_description">El Huawei P50 cuenta con una cámara avanzada, pantalla OLED y un rendimiento excepcional.</p>
            <a href="product.html" class="buy_phone">Comprar ahora</a>           
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="best_phone">
        <img class="phone-img" src="../images/SamsungS21.png" />
        <div class="phone_data">
            <h2 class="phone_title">Samsung S21</h2>
            <span class="phone_price">$ <span style="color: #7ad01e">250000</span></span>
            <p class="phone_description">El Samsung S21 ofrece una gran experiencia de cámara, pantalla Dynamic AMOLED y un rendimiento potente.</p>
            <a href="product.html" class="buy_phone">Comprar ahora</a>           
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="best_phone">
        <img class="phone-img" src="../images/Iphone16Pro.png" />
        <div class="phone_data">
            <h2 class="phone_title">iPhone 16 Pro</h2>
            <span class="phone_price">$ <span style="color: #7ad01e">400000</span></span>
            <p class="phone_description">El iPhone 16 Pro viene con una cámara revolucionaria, pantalla Super Retina XDR y un rendimiento sin igual.</p>
            <a href="product.html" class="buy_phone">Comprar ahora</a>           
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Productos fin -->
</div>
