.masVendido {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 8vh;
  background-color: #e5e5e5;
  padding: 2vh 0;
}

@media screen and (max-width: 768px) {
  .masVendido {
    display: flex;
    flex-direction: column-reverse;
  }
}

.masVendido .slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}

@media screen and (max-width: 768px) {
  .masVendido .slider-container {
    flex-direction: row;
    margin-top: 3vw;
  }
}

.masVendido .slider-container span {
  width: 30%;
  padding: 3% 3%;
  margin-left: 2vw;
}

@media screen and (max-width: 768px) {
  .masVendido .slider-container span {
    width: 70%;
  }
}

.masVendido .slider-container .button-product {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  background: transparent;
  border: none;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.masVendido .slider-container .prev-product {
  left: -3px;
}

.masVendido .slider-container .next-product {
  right: -30px;
}

.masVendido .image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.masVendido .image-wrapper img {
  width: 90%;
}

@media screen and (max-width: 768px) {
  .masVendido .image-wrapper img {
    width: 100%;
  }
}

.masVendido .marketing-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.masVendido .marketing-img img{
  width: 80%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}